<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='preloader.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{%block title%}{%endblock%}Webcam Food Detection system</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<nav></nav>
{%block body%}

{%endblock%}
</body>
</html>